{
  "kind": "Secret",
  "apiVersion": "v1",
  "metadata": {
     "name": "{{item.name}}",
    "namespace": "{{namespace.name}}"
  },

  {% if item.type is defined %}
  "type": "{{ item.type }}",
  {% endif %}

  {% if item.data is defined %}
  "data": {{ item.data | to_json }}
  {% endif %}

  {% if item['from-files'] is defined %}
  "data": {
    {% for from_file in item['from-files'] %}
    "{{from_file}}": "{% filter b64encode %}{% include from_file %}{% endfilter %}"{% if not loop.last %},
    {% endif %}
    {% endfor %}
  }
  {% endif %}

  {% if item['.dockercfg'] is defined %}
  "type": "kubernetes.io/dockercfg",
  "data": {
    ".dockercfg": "{{ item['.dockercfg'] | to_json | b64encode}}"
  }
  {% endif %} 
}
