{
  "apiVersion": "v1",
  "kind": "LimitRange",
  "metadata": {
     "name": "{{item.name}}",
     "namespace": "{{namespace.name}}",
     "labels": {
       "managed": "true"
     }
  },
  "spec": {
    "limits": {{item.limits|to_nice_json}}
  }
}
