{
  "kind": "StatefulSet",
  "apiVersion": "apps/v1beta1",
  "metadata": {
    "name": "{{item.name}}",
    "namespace": "{{namespace.name}}",
    "labels": {
      "managed": "true"
    }
  },
  "spec": {
    "serviceName": "{{item.name}}",
    "podManagementPolicy": "OrderedReady",
    "replicas": {{item.pod.replicas|default(1)}},
    {% if item.pod.strategy is defined %}
    "strategy": {
      "type": "{{item.pod.strategy}}"
    },
    {% endif %}
    "revisionHistoryLimit": 0,
    "template": {
      "metadata": {
        "labels": {
          "name": "{{item.name}}",
          "service": "{{item.name}}"
        }
        {% if item.pod.annotations is defined %}
        , "annotations":{
          {% for key, value in item.pod.annotations.iteritems() %}
            "{{ key }}":"{{ value | to_json | regex_replace('(?<!\\\)\"','\\\"') }}"
            {% if not loop.last %}, {% endif %}
          {% endfor %}
        }
        {% endif %}
       },
      "spec": {
        {% if item.pod.terminationGracePeriodSeconds is defined%}
        "terminationGracePeriodSeconds": {{ item.pod.terminationGracePeriodSeconds }},
        {% endif %}

        {# Sidecar Containers #}
        "containers": [
          {% for container in (item.pod.containers + global_podpresets.spec.sidecars|default([])) %}
            {% set _dummy = container.update({"env": container.env|default([])|union(global_podpresets.spec.env|default([]))|union([{"name": "SERVICE_NAME", "value": item.name}, {"name": "LABEL", "value": item.name|upper}])}) %}

            {# Global volume mounts #}
            {% set _dummy = container.update({"volumeMounts": container.volumeMounts|default([])|union(global_podpresets.spec.volumeMounts|default([]))}) %}

            {# Remove scm field #}
            {% if container.scm is defined %}
              {% set _dummy = container.pop("scm") %}
            {% endif %}

            {{container | to_nice_json}}{% if not loop.last %},{% endif %}
          {% endfor %}
        ]

        {% if item.pod.initContainers is defined %}
        ,
        "initContainers":
          {{ item.pod.initContainers | to_json }}
        {% endif %}

        {# Global Volumes #}
        {% if global_podpresets.spec.volumes is defined or item.pod.volumes is defined %}
          , "volumes": {{ (item.pod.volumes|default([]) + global_podpresets.spec.volumes|default([]))|to_nice_json}}
        {% endif %}

        {% if item.pod.nodeSelector is defined %}
        , "nodeSelector": {{item.pod.nodeSelector | to_nice_json}}
        {% endif %}
        {% if item.pod.hostNetwork is defined %}
        , "hostNetwork": {{item.pod.hostNetwork | to_nice_json}}
        {% endif %}
        {% if item.pod.hostPID is defined %}
        , "hostPID": {{item.pod.hostPID | to_nice_json}}
        {% endif %}
      }
    }
  }
}
