{
  "kind": "Deployment",
  "apiVersion": "extensions/v1beta1",
  "metadata": {
    "name": "{{service_name}}"
    {% if canary %}
    , "labels": {
      "canary": "true"
    }
    {% endif %}
  },
  "spec": {
    "replicas": {{item.replicas|default(1)}},
    {% if item.strategy is defined %}
    "strategy": {
      "type": "{{item.strategy}}"
    },
    {% endif %}
    "template": {
      "metadata": {
        "labels": {
          "name": "{{service_name}}"
        }
      },
      "spec": {
        {# Global ConfigMap as env variables #}
        {% set env = [{"name": "SERVICE_NAME", "value": service_name}, {"name": "LABEL", "value": service_name|upper}] %}
        {% set global = configmaps|default()|selectattr("name", "equalto", "global")|first|default({"data": []}) %}
        {% for key in global.data %}
          {% set _dummy = env.extend([{"name": key|replace("-", "_")|upper, "value": global.data[key]}]) %}
        {% endfor %}

        {# Sidecar Containers #}
        {% if sidecars %}
          {% set _dummy = containers.extend(sidecars) %}
        {% endif %}
        "containers": [
          {% for container in containers %}
          {% if container.env is defined %}
            {% set _dummy = container.update({"env": container.env|union(env)}) %}
          {% else %}
            {% set _dummy = container.update({"env": env}) %}
          {% endif %}

          {# Global volume mounts #}
          {% if volumeMounts is defined %}
          {% if container.volumeMounts is defined %}
            {% set _dummy = container.update({"volumeMounts": container.volumeMounts|union(volumeMounts)}) %}
          {% else %}
            {% set _dummy = container.update({"volumeMounts": volumeMounts}) %}
          {% endif %}
          {% endif %}

          {# Remove scm field #}
          {% if container.scm is defined %}
            {% set _dummy = container.pop("scm") %}
          {% endif %}

          {{container | to_nice_json}}{% if not loop.last %},{% endif %}
          {% endfor %}
        ]
        {# Global Volumes #}
        {% if volumes is defined %}
          {% set _volumes = volumes %}
          {% set _dummy = _volumes.extend(item.volumes|default) %}
          , "volumes": {{ _volumes|to_nice_json}}
        {% elif item.volumes is defined %}
          , "volumes": {{item.volumes|to_nice_json}}
        {% endif %}
        {% if item.nodeSelector is defined %}
        , "nodeSelector": {{item.nodeSelector | to_nice_json}}
        {% endif %}
        {% if item.hostNetwork is defined %}
        , "hostNetwork": {{item.hostNetwork | to_nice_json}}
        {% endif %}
        {% if item.hostPID is defined %}
        , "hostPID": {{item.hostPID | to_nice_json}}
        {% endif %}
      }
    }
  }
}
