{
    "kind": "HorizontalPodAutoscaler",
    "apiVersion": "autoscaling/v1",
    "metadata": {
        "name": "{{item.name}}"
    },
    "spec": {
        "scaleTargetRef": {
            "kind": "Deployment",
            "name": "{{item.name}}"
        },
        "minReplicas": {{item.autoscaler.minReplicas|default(1)}},
        "maxReplicas": {{item.autoscaler.maxReplicas|default(1)}},
        "targetCPUUtilizationPercentage": {{item.autoscaler.cpu|default(80)}} 
    }
}
