{% set _dummy = item.update({"labels": item.labels|default({})|combine({"managed": "true"})}) %}

{
    "kind": "PersistentVolume",
    "apiVersion": "v1",
    "metadata": {
        "name": "{{item.name}}",
        "labels": {{item.labels | to_json}}
        {% if item.annotations is defined %}
        , "annotations":{
            {% for key, value in item.annotations.iteritems() %}
            "{{ key }}":"{{ value | to_json | regex_replace('(?<!\\\)\"','\\\"') }}" {% if not loop.last %},{% endif %}
            {% endfor %}
        }
        {% endif %}
    },
    "spec": {{item.spec | to_json}}
}

