{
    "kind": "PersistentVolume",
    "apiVersion": "v1",
    "metadata": {
        "name": "{{item.name}}",
        "labels": {
          "managed": "true"
        }

    },
    "spec": {{item.spec | to_nice_json}}
}

