{
  "kind": "Endpoints",
  "apiVersion": "v1",
  "metadata":{
     "name": "{{item.name}}",
      "namespace": "{{namespace.name}}",
       "labels": {
         "managed": "true"
       }
  },
  "subsets":[
     {
       "addresses":
         {{ item.endpoints.addresses | to_json }}
       ,
       "ports": 
         {{ item.ports | to_json }}
     }
  ]
}
