{
    "kind": "ServiceAccount",
    "apiVersion": "v1",
    "metadata": {
        "name": "{{ item.name }}",
        "namespace": "{{ namespace.name }}"
    },
    "automountServiceAccountToken": false
}
