{
    "kind": "PersistentVolumeClaim",
    "apiVersion": "v1",
    "metadata": {
        "name": "{{item.name}}",
        "namespace": "{{namespace.name}}",
        "labels": {
          "managed": "true"
        }
    },
    "spec": {{item.spec | to_json}}
}
