{
    "kind": "ClusterRole",
    "apiVersion": "rbac.authorization.k8s.io/v1",
    "metadata": {
        "name": "{{ item.name }}",
        "labels": {
            "managed": "true"
        }
    },
    "rules": {{ item.rules | to_nice_json }}
}
