{
    "kind": "ClusterRoleBinding",
    "apiVersion": "rbac.authorization.k8s.io/v1",
    "metadata": {
        "name": "user:{{ namespace.name }}:{{ item.name }}",
        "labels": {
            "managed": "true"
        }
    },
    "roleRef": {
        "apiGroup": "rbac.authorization.k8s.io",
        "kind": "ClusterRole",
        "name": "{{ item.clusterRoleBinding }}"
    },
    "subjects": [
        {
            "kind": "ServiceAccount",
            "name": "{{ item.name }}",
            "namespace": "{{ namespace.name }}"
        }
    ]
}
