{
  "kind": "Endpoints",
  "apiVersion": "v1",
  "metadata":{
     "name": "{{item.name}}"
  },
  "subsets":[
     {
       "addresses":
         {{ item.endpoints.addresses | to_nice_json }}
       ,
       "ports": 
         {{ item.ports | to_nice_json }}
     }
  ]
}
